<p id="notice"><%= notice %></p>
<header>
	<%= render 'nav' %>
</header>
<body>
	<section class="p_date">
			<h1>Main header of blog</h1>
			<%= link_to 'New Post', new_post_path %>
			<h2>Order by publishing</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Body</th>
						<th colspan="3"></th>
					</tr>
				</thead>

				<tbody>
					<% @posts.reverse_each do |post| %>
						<tr>
							<td><%= post.title %></td>
							<td><%= post.body %></td>
							<td><%= link_to 'Show', post %></td>
							<td><%= link_to 'Edit', edit_post_path(post) %></td>
							<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
	</section>
	<section class = "popular_posts">
			<h2>Order by popularity</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Body</th>
						<th>popularity index</th>
						<th colspan="3"></th>
					</tr>
				</thead>

				<tbody>
					<% @popular_posts.each do |post| %>
						<tr>
							<td><%= post.title %></td>
							<td><%= post.body %></td>
							<td><%= post.popularity %></td>
							<td><%= link_to 'Show', post %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<br>
	</section>
</body>


